
.imagen {
    max-width: 100% !important;
    height: auto !important;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

form #cantidadRedonda,
form #EspesorRedonda,
form #Diametro,
form #Lado2,
form #Lcuadrado,
form #Espesor,
form #cantidad {
    margin: 5px 5px 5px 5%;
    padding: 0;
    width: 15%;
    display: inline;
    text-align: left;
}


form #N-agujeros,
form #D-centros,
form #d-mmR,
form #d-mm,
form #SV,
form #SH,
form #R {
    margin: 5px 5px 1px 2%;
    padding: 0;
    width: 8%;
    display: inline;
    text-align: left;
}

.Validado {
    color: rgba(19, 165, 34, 0.527);
    font-weight: bolder;
    text-align: center !important;
}

form #AceroInoxR,
form #AceroCarbonoR,
form #AceroInoxC,
form #AceroCarbonoC {
    margin: 5px 5px 5px 5%;
    padding: 0;
    width: 10%;
    display: inline;
    text-align: right;

}


form .parametro {
    display: flex;
    flex-direction: row;
    margin: 1px;
    align-content: center;
}

form .etiqueta {
    padding: 5px;
}

form .etiquetaRect {
    padding: 5px;
}

form .etiquetaRedonda {
    padding: 5px;
}

form textarea {
    margin: 0 5%;
    padding: 0;
    width: 50%;
    height: 100px;
}

form #terms {
    margin: 5px 3px 5px 5%;
    padding: 0;
    width: auto;
}

form .enviar {
    border-radius: 4px;
    margin: 20px 14%;
    width: 7%;
    text-align: center;
    border: 2px solid #090808e9;
    color: #222222;
    background-color: #a1a0a071;
    box-shadow: 5px 5px #d3e9ed;
    transition: all 500ms;
}

form .jb {
    color: crimson;
}